<!-- archives -->
<h5>글 보관함 <small>{{ site.posts | size }}</small></h5>
<ul class="side-nav">
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
    <li><a href="/blog/archive/{{ year.name }}">{{ year.name }} ({{ year.items | size }})</a></li>
    {% endfor %}
</ul>

<div class="panel">
    <h5>태그</h5>
    <ul class="side-nav">
    </ul>
</div>

<!--
    // archives
    sb.append("<h5>글 보관함 <small>(").append(contentStore.getMdsSize()).append(")</small></h5><ul class=\"side-nav\">");
    sb.append(getArchivePart(contentStore)).append("</ul>\n");

    // panel start
    sb.append("<div class=\"panel\">");

    // tags
    sb.append("<h5>태그</h5><ul class=\"side-nav\">");
    sb.append(getTagPart(formatManager.getUrlFormatter(), contentStore)).append("</ul>\n");

    // panel end
    sb.append("</div>");
-->