---
layout: default
---
{% assign currentPage = site.posts.first %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ currentPage.title | escape }}</h1>
    <p>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ currentPage.author }}</span>
      &nbsp;|&nbsp;
      <time datetime="{{ currentPage.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ currentPage.date | date: "%b %-d, %Y" }}
      </time>
    </p>
  </header>

  <div itemprop="articleBody">
    {{ currentPage.content }}
  </div>

  <p>
    {% for tag in currentPage.tags %}
    <a href="/blog/tag/{{ tag }}">{{ tag }}</a>&nbsp;
    {% endfor %}
  </p>

  <div class="small-12 columns">
    <div class="row">
      <div class="small-6 columns">
        {% if currentPage.next.url %}
        <p class="text-right">
          <a href="{{ currentPage.next.url }}">&laquo {{ currentPage.next.title }}</a>
        </p>
        {% endif %}
      </div>
      <div class="small-6 columns">
        {% if currentPage.previous.url %}
        <p class="text-left">
          <a href="{{ currentPage.previous.url }}">{{ currentPage.previous.title }} &raquo</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>

</article>